@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.popup-fade {
  display: none;
}
.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
}

.modal {
  background: -webkit-gradient(linear, left top, right top, from(rgb(62, 125, 29)), to(rgb(92, 212, 28)));
  background: linear-gradient(90deg, rgb(62, 125, 29) 0%, rgb(92, 212, 28) 100%);
  width: 30rem;
  height: 45rem;
  text-align: center;
  border-radius: 0.7rem;
  padding-top: 6rem;
  -webkit-box-shadow: 0.5rem 2rem 5rem #000;
          box-shadow: 0.5rem 2rem 5rem #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  z-index: 3;
}
.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
.modal label {
  font-size: 4rem;
  line-height: 4.7rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal input {
  display: block;
  border: none;
  outline: none;
  margin: 0 auto;
  padding-left: 0.7rem;
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
}
.modal #checked {
  display: none;
}
.modal .modal__btn {
  font-size: 1.5rem;
  width: 19rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 4rem;
  background: #FF6868;
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem #000;
          box-shadow: 0.1rem 0.1rem 0.9rem #000;
}
.modal .modal__btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-filter: none;
          filter: none;
}
.modal .modal__btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0.5rem 0.5rem 4.9rem #000;
          box-shadow: 0.5rem 0.5rem 4.9rem #000;
  -webkit-filter: none;
          filter: none;
}
.modal .modal__login {
  height: 42rem;
  border-radius: 60%/10%;
  left: 0;
  background: white;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.modal .modal__login label {
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}
.modal .modal__login input {
  background: #E5E5E5;
}
.modal #checked:checked ~ .modal__login {
  -webkit-transform: translateY(-24rem);
          transform: translateY(-24rem);
}
.modal #checked:checked ~ .modal__login label {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}
.modal #checked:checked ~ .modal__signup label {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

* {
  text-decoration: none;
  margin: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  background: #fff;
}

ul li a {
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.header__bg {
  background: #7AC751;
}

.header__top {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.header__top p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
  display: inline-block;
}

.border-rectangle {
  border: 0.1rem solid #fff;
  height: 2.1rem;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  margin: 0 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E5E5E5;
  width: 15rem;
}
.dropdown-content a:first-child {
  background: url(../img/header/icon/icon-russia.png) no-repeat 0.5rem;
}
.dropdown-content a:last-child {
  background: url(../img/header/icon/icon-united-kingdom.png) no-repeat 0.5rem;
}
.dropdown-content a {
  font-size: 1.3rem;
  color: #000;
  padding: 0.2rem 0 0.2rem 2.5rem;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.dropdown-content a:not(:last-child) {
  border-bottom: 0.1rem solid #000;
}
.dropdown-content a:hover {
  background-color: #7AC751;
}

.dropbtn {
  background: url(../img/header/icon/icon-united-kingdom.png) no-repeat left center;
  padding-left: 2.5rem;
  width: 12rem;
}
.dropbtn p {
  margin-right: 1.6rem;
}
.dropbtn::after {
  background: rgba(0, 0, 0, 0) url(../img/header/icon/arrow_down.png) no-repeat scroll center;
  content: "";
  height: 1.6rem;
  position: absolute;
  top: 0.7rem;
  width: 1.6rem;
}

.modalShow {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .header__bottom__icon {
  font-size: 1.4rem;
  line-height: 2.8rem;
  background: url(/img/header/icon/logo.png) 1rem no-repeat;
  background-size: 2.8rem;
  padding-left: 4.3rem;
  color: #555;
  padding-top: 0.5rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.header__bottom .header__bottom__icon:hover {
  color: #000;
}

.form {
  outline: 0.2rem solid #7AC751;
  border-radius: 0.5rem;
}
.form__search {
  display: inline-block;
  width: 30rem;
  height: 4rem;
  border: none;
  outline: none;
  border-right: 0.1rem solid #E5E5E5;
  padding-left: 1rem;
}
.form .dropbtn {
  background: none;
  padding-left: 0.5rem;
  width: 9rem;
  font-size: 1.4rem;
}
.form .dropbtn::after {
  background: rgba(0, 0, 0, 0) url(../img/header/icon/arrow_black.png) no-repeat scroll center;
  content: "";
  height: 1.9rem;
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}
.form a, .form a:last-child, .form a:first-child {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  background: url(/img/header/icon/logo.png) 1rem no-repeat;
  background-size: 1.8rem;
  padding-left: 4rem;
  color: #555;
}
.form a:not(:last-child), .form a:last-child:not(:last-child), .form a:first-child:not(:last-child) {
  border-bottom: 0.1rem solid #000;
}
.form a:hover, .form a:last-child:hover, .form a:first-child:hover {
  background-color: #7AC751;
}
.form__button {
  width: 5.5rem;
  height: 4.5rem;
  border: none;
  background: #7AC751;
  cursor: pointer;
}

.input__group {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.input__group__group-basket::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid red;
  background: red;
}
.input__group a:hover img {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}
.input__group a:active img {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}
.input__group a:not(:last-child) {
  margin-right: 3rem;
}

.bg {
  background: gray;
  opacity: 0.5;
  width: 40rem;
  height: 40rem;
  opacity: 0;
}
.bg .modals {
  background: green;
  width: 50%;
  height: 50%;
  opacity: none;
}
.bg .d1 {
  background: red;
  position: absolute;
  width: 50%;
  height: 50%;
}