@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.popup-fade {
  display: none;
}
.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 777;
}

.modal {
  background: -webkit-gradient(linear, left top, right top, from(rgb(62, 125, 29)), to(rgb(92, 212, 28)));
  background: linear-gradient(90deg, rgb(62, 125, 29) 0%, rgb(92, 212, 28) 100%);
  width: 30rem;
  height: 45rem;
  text-align: center;
  border-radius: 0.7rem;
  padding-top: 6rem;
  -webkit-box-shadow: 0.5rem 2rem 5rem #000;
          box-shadow: 0.5rem 2rem 5rem #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  z-index: 777;
}
.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
.modal label {
  font-size: 4rem;
  line-height: 4.7rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal input {
  display: block;
  border: none;
  outline: none;
  margin: 0 auto;
  padding-left: 0.7rem;
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
}
.modal #checked {
  display: none;
}
.modal .modal__btn {
  font-size: 1.5rem;
  width: 19rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 4rem;
  background: #FF6868;
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1.5rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1.5rem;
}
.modal .modal__btn:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0.1rem 0.6rem 1.8rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0.1rem 0.6rem 1.8rem;
}
.modal .modal__btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
  -webkit-filter: none;
          filter: none;
}
.modal .modal__login {
  height: 42rem;
  border-radius: 60%/10%;
  left: 0;
  background: white;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.modal .modal__login label {
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}
.modal .modal__login input {
  background: #E5E5E5;
}
.modal #checked:checked ~ .modal__login {
  -webkit-transform: translateY(-24rem);
          transform: translateY(-24rem);
}
.modal #checked:checked ~ .modal__login label {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}
.modal #checked:checked ~ .modal__signup label {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.modal .message {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  margin: 3rem 0 0 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.modal .modal__thanks {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  margin: 3rem 0 0 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

* {
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  color: #555;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li a {
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.header__bg {
  background: #7AC751;
}

.header__top {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.header__top p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
  display: inline-block;
}

.border-rectangle {
  border: 0.1rem solid #fff;
  height: 2.1rem;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  margin: 0 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E5E5E5;
  width: 15rem;
}
.dropdown-content a:first-child {
  background: url(../img/header/icon/icon-russia.png) no-repeat 0.5rem;
}
.dropdown-content a:last-child {
  background: url(../img/header/icon/icon-united-kingdom.png) no-repeat 0.5rem;
}
.dropdown-content a {
  font-size: 1.3rem;
  color: #000;
  padding: 0.2rem 0 0.2rem 2.5rem;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.dropdown-content a:not(:last-child) {
  border-bottom: 0.1rem solid #F7F8FA;
}
.dropdown-content a:hover {
  background-color: #7AC751;
}

.dropbtn {
  background: url(../img/header/icon/icon-united-kingdom.png) no-repeat left center;
  padding-left: 2.5rem;
}
.dropbtn p {
  margin-right: 1.6rem;
}
.dropbtn::after {
  background: rgba(0, 0, 0, 0) url(../img/header/icon/arrow_down.png) no-repeat scroll center;
  content: "";
  height: 1.6rem;
  position: absolute;
  top: 0.7rem;
  width: 1.6rem;
}

.header__dropdown-icon {
  display: none;
}
.header__dropdown-icon img {
  width: 2rem;
}

.modalShow {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.form {
  outline: 0.2rem solid #7AC751;
  border-radius: 0.5rem;
}
.form__search {
  display: inline-block;
  width: 30rem;
  height: 4rem;
  border: none;
  outline: none;
  border-right: 0.1rem solid #E5E5E5;
  padding-left: 1rem;
}
.form .dropbtn {
  background: none;
  padding-left: 0.5rem;
  width: 9rem;
  font-size: 1.4rem;
}
.form .dropbtn::after {
  background: rgba(0, 0, 0, 0) url(../img/header/icon/arrow_black.png) no-repeat scroll center;
  content: "";
  height: 1.9rem;
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}
.form a, .form a:last-child, .form a:first-child {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  background: url(/img/header/icon/logo.png) 1rem no-repeat;
  background-size: 1.8rem;
  padding-left: 4rem;
  color: #555;
}
.form a:not(:last-child), .form a:last-child:not(:last-child), .form a:first-child:not(:last-child) {
  border-bottom: 0.1rem solid #F7F8FA;
}
.form a:hover, .form a:last-child:hover, .form a:first-child:hover {
  background-color: #7AC751;
}
.form__button {
  width: 5.5rem;
  height: 4.5rem;
  border: none;
  background: #7AC751;
  cursor: pointer;
}

.input__group {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.input__group a:hover img {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}
.input__group a:active img {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}
.input__group a:not(:last-child) {
  margin-right: 3rem;
}

.bg {
  background: gray;
  opacity: 0.5;
  width: 40rem;
  height: 40rem;
  opacity: 0;
}
.bg .modals {
  background: green;
  width: 50%;
  height: 50%;
  opacity: none;
}

.logo__icon img {
  vertical-align: sub;
  display: inline-block;
  width: 2.5rem;
  margin-right: 0.5rem;
}
.logo__icon h2,
.logo__icon h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #555;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.logo__icon h2:hover,
.logo__icon h1:hover {
  color: #000;
}

.section-heading {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.5rem;
  color: #555;
  margin-bottom: 7.5rem;
}

.offer {
  position: absolute;
  top: -1rem;
  right: 0;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}
.offer::before {
  content: "";
  background-color: #00B7F1;
  display: inline-block;
  width: 6.4rem;
  height: 2.3rem;
  margin-bottom: -2.2rem;
  border-bottom-left-radius: 0.5rem;
}

.discount {
  position: absolute;
  top: -1rem;
  left: 0;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}
.discount::before {
  content: "";
  background-color: #FF6868;
  display: inline-block;
  width: 4.4rem;
  height: 2.1rem;
  margin-bottom: -2.2rem;
  border-bottom-right-radius: 0.5rem;
}

.hide {
  display: none;
}

.main__line-bg {
  height: 6.7rem;
  background: #F7F8FA;
}
.main__dropdown {
  width: 26rem;
  height: 6.7rem;
  display: inline-block;
}
.main__dropbtn {
  background: #7AC751;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: uppercase;
}
.main__dropbtn img {
  margin-right: 1.5rem;
}
.main__dropdown-content {
  background-color: #E5E5E5;
  width: 100%;
}
.main__dropdown-content a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.02em;
  color: #555;
  padding: 1.4rem 0 1.4rem 2.5rem;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main__dropdown-content a:not(:last-child) {
  border-bottom: 0.1rem solid #F7F8FA;
}
.main__dropdown-content a:hover {
  background-color: #7AC751;
}
.main__dropdown-content a:first-child:hover {
  background-color: #00B7F1;
}
.main__grid-nav {
  background: #F7F8FA;
}
.main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #F7F8FA;
  margin-top: 2rem;
}
.main__navigation a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #555;
}
.main__navigation a:hover {
  color: #000;
}
.main__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
  padding: 5rem 3rem;
  max-height: 39.1rem;
  max-width: 90rem;
  background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
}
.main__banner__banner-img {
  max-width: 37.4rem;
}
.main__banner img {
  max-width: 100%;
}
.main__banner-text {
  width: 35rem;
}
.main__banner-text p:first-child {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #7AC751;
  margin-bottom: 0.6rem;
}
.main__banner-text h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.7rem;
  margin-bottom: 2.9rem;
}
.main__banner-text p:nth-child(3) {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 2.6rem;
  color: rgba(81, 81, 81, 0.7);
  margin-bottom: 4.5rem;
}
.main__banner-cards {
  text-align: center;
  font-weight: 500;
  font-size: 0.7rem;
}
.main__banner-cards-item {
  padding: 0.5rem 2.5rem;
  background: #fff;
}
.main__banner-cards-item:not(:last-child) {
  margin-bottom: 2rem;
}
.main__banner-cards-item p:nth-child(2) {
  color: #7AC751;
}
.main__banner-cards-item img {
  max-width: 100%;
}
.main__banner-cards-item p:nth-child(3) {
  color: #555555;
}
.main__delivery {
  margin-bottom: 7rem;
}
.main__delivery__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__delivery__cards-img {
  margin-right: 1.5rem;
}
.main__delivery__cards:hover {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}
.main__delivery p:first-child {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
}
.main__delivery p:last-child {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: rgba(81, 81, 81, 0.7);
}
.main__collection {
  margin-bottom: 12rem;
}
.main__collection__block-one {
  width: 61.7em;
  height: 50.7rem;
  background: url(../img/main/collection/collection_bg-1.jpg) center no-repeat;
  background-size: cover;
}
.main__collection__block-two {
  width: 100%;
  height: 24.7rem;
  background: url(../img/main/collection/collection_bg-2.jpg) center no-repeat;
  background-size: cover;
}
.main__collection__block-three {
  width: 100%;
  height: 24.7rem;
  background: url(../img/main/collection/collection_bg-3.jpg) center no-repeat;
  background-size: cover;
}
.main__collection p,
.main__collection h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
}
.main__collection h2:first-child {
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #555;
  margin: 4rem 0 1rem 2rem;
}
.main__collection p:nth-child(2) {
  font-size: 2rem;
  color: #7AC751;
  margin: 0 0 1rem 2rem;
}
.main__collection p:last-child {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(81, 81, 81, 0.7);
  margin-left: 2rem;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main__collection p:last-child:hover {
  color: #FF6868;
}
.main__collection__group {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main__collection__group:hover {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.main__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25.8rem 1.2rem 3fr;
  grid-template-columns: 25.8rem 3fr;
  -ms-grid-rows: 6.7rem 1.2rem 1fr;
  grid-template-rows: 6.7rem 1fr;
      grid-template-areas: "collection  grid-nav" "collection grid-banner";
  grid-gap: 1.2rem;
  margin-bottom: 7rem;
}

.main__grid-collection {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: collection;
}

.main__grid-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid-nav;
}

.main__grid-banner {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: grid-banner;
}

.main__delivery {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

.main__collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1rem auto;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      grid-template-areas: "block-one block-two" "block-one block-three";
}
.main__collection__block-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: block-one;
}
.main__collection__block-two {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: block-two;
}
.main__collection__block-three {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: block-three;
}

.products__header__categories {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 3rem;
}

.special-offer__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24.5rem, 4fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 2rem;
  margin-bottom: 10rem;
}

.articles__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 50rem));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 4fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-gap: 3rem;
}

.btn {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
  background: #7AC751;
  border-radius: 5px;
  padding: 1rem 1.8rem;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 6px 18px;
          box-shadow: rgba(0, 0, 0, 0.35) 1px 6px 18px;
}
.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.products__header {
  text-align: center;
  margin-bottom: 7rem;
}
.products__header a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3rem;
  color: rgba(81, 81, 81, 0.7);
}
.products .active-green {
  color: #7AC751;
}
.products__cards__body {
  width: 27rem;
  height: 38.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.products__cards__body:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.products__cards__body-img {
  margin-bottom: 1.5rem;
  position: relative;
}
.products__cards__body-img:hover .hover-feature {
  opacity: 1;
}
.products__cards__body-text {
  position: relative;
}
.products__cards__body-text p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
}
.products__cards__body-text p:first-child {
  font-size: 1.4rem;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: rgba(81, 81, 81, 0.7);
  margin-bottom: 0.8rem;
}
.products__cards__body-text p:nth-child(2) {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #555;
  margin-bottom: 0.8rem;
}
.products__cards__body-text p:nth-child(3),
.products__cards__body-text p:nth-child(4) {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #7AC751;
  display: inline-block;
}
.products__cards__body-text p:nth-child(4) {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(81, 81, 81, 0.7);
  margin-left: 0.7rem;
}
.products .sticket-left {
  position: absolute;
  z-index: 7;
}
.products .ratings {
  position: absolute;
  z-index: 7;
  right: 0;
  bottom: 0.7rem;
}
.products .hover-feature {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  opacity: 0;
}
.products .hover-feature img {
  position: absolute;
  right: -2.5rem;
  cursor: pointer;
}
.products .hover-feature img:nth-child(1) {
  top: 3rem;
}
.products .hover-feature img:nth-child(2) {
  top: 9rem;
}
.products .hover-feature img:nth-child(3) {
  top: 15rem;
}
.products .hover-feature img:nth-child(4) {
  top: 21rem;
}
.products .hover-feature img:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}
.products .switch {
  text-align: center;
  margin-bottom: 10rem;
}
.products .switch img {
  cursor: pointer;
}
.products .switch img:not(:last-child) {
  margin-right: 2rem;
}

.special-offer {
  text-align: center;
  margin-bottom: 12rem;
}
.special-offer__bg-one {
  background: url("/img/main/special_offer/living_room.jpg") right no-repeat;
  background-size: cover;
}
.special-offer__bg-two {
  background: url("/img/main/special_offer/modern_chair.jpg") right no-repeat;
  background-size: cover;
}
.special-offer__cards {
  height: 22rem;
  padding: 2.8rem 1.4rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}
.special-offer__cards:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.special-offer__text {
  width: 25rem;
  font-family: "Mulish";
  font-style: normal;
  z-index: 7;
}
.special-offer__text h3 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #555555;
  margin-bottom: 1.1rem;
}
.special-offer__text p:nth-child(2) {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: rgba(81, 81, 81, 0.7);
  margin-bottom: 2.3rem;
}
.special-offer__text p:nth-child(3),
.special-offer__text p:nth-child(4) {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #7AC751;
  display: inline-block;
}
.special-offer__text p:nth-child(4) {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(81, 81, 81, 0.7);
  margin: 0 1rem 3.1rem 0.7rem;
}
.special-offer__time-item {
  display: inline-block;
}
.special-offer__time-item P {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  color: #fff;
}
.special-offer__time-item p:last-child {
  font-weight: 400;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #fff;
}
.special-offer__time-item::before {
  content: "";
  background-color: #7AC751;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -3.8rem;
}
.special-offer__time-item:not(:last-child) {
  margin-right: 1.2rem;
}

.reviews {
  position: relative;
  text-align: center;
  margin-bottom: 11rem;
}
.reviews__nav img {
  position: absolute;
  top: 60%;
  z-index: 7;
  cursor: pointer;
}
.reviews__nav img:first-child {
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reviews__nav img:first-child:hover {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}
.reviews__nav img:last-child {
  right: 0;
}
.reviews__nav img:last-child:hover {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}
.reviews__cards {
  position: relative;
  background: #F8FAFB;
  margin: 0 auto;
  max-width: 81rem;
  max-height: 37rem;
  padding: 8rem 12rem 5rem 12rem;
}
.reviews__cards p:nth-child(2) {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #555;
  margin-bottom: 3rem;
}
.reviews__cards p:nth-child(3) {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #555;
  margin-bottom: 0.8rem;
}
.reviews__cards p:last-child {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #555;
}
.reviews__person {
  position: absolute;
  top: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reviews__person:hover {
  -webkit-filter: blur(0.1rem);
          filter: blur(0.1rem);
}

.articles {
  margin-bottom: 10rem;
}
.articles h2 {
  text-align: center;
}
.articles__cards {
  position: relative;
  max-width: 52rem;
  max-height: 40.5rem;
  background-repeat: 0.2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.articles__cards-bg {
  width: 100%;
}
.articles__cards__text {
  position: absolute;
  top: 19rem;
  z-index: 3;
  color: #fff;
  padding: 0 4.4rem 3.4rem 4.4rem;
  max-height: 15rem;
}
.articles__cards__text a {
  display: inline-block;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #fff;
}
.articles__cards__text a:hover {
  color: #FF6868;
}
.articles__cards__text img {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}
.articles__cards__text p:nth-child(2) {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  letter-spacing: 0.008em;
  display: inline-block;
}
.articles__cards__text p:nth-child(3) {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 120%;
  letter-spacing: 0.005em;
  margin-bottom: 3.7rem;
}
.articles__cards__text-tag {
  background: #fff;
  display: inline-block;
  padding: 0.6rem 0.4rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.articles__cards__text-tag P {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #7AC751;
}
.articles__cards:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

@media (max-width: 960px) {
  .header__bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1rem auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto 1rem auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
  }
  .header__bottom > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__bottom > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .header__bottom > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header__bottom > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .input__group {
    margin-left: 4rem;
  }

  .main__collection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1.5rem auto 1.5rem auto;
    grid-template-rows: auto auto auto;
        grid-template-areas: "block-one block-one" "block-two block-two" "block-three block-three";
    grid-gap: 1.5rem;
  }
  .main__collection__block-one {
    width: 100%;
    background-position: bottom;
    height: 24.7rem;
  }

  .main__collection__block-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .main__collection__block-two {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .main__collection__block-three {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 740px) {
  .header__dropdown {
    display: none;
  }

  .header__dropdown-icon {
    display: block;
  }

  .form {
    width: 25rem;
  }

  .form__button {
    width: 4.5rem;
  }

  .form__search {
    width: 10rem;
  }

  .dropbtn {
    padding-left: 0.2rem;
    width: 2rem;
  }

  .hover-feature {
    opacity: 1;
  }

  .main__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 6.7rem 1.2rem auto;
    grid-template-rows: 6.7rem auto;
        grid-template-areas: "grid-nav" "grid-banner" "collection";
    grid-gap: 1.2rem;
  }

  .main__banner-text p:nth-child(3) {
    font-size: 1.6rem;
  }

  .main__banner-text h2 {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .main__banner-text p:first-child {
    font-size: 1.6rem;
  }

  .main__dropdown {
    width: 100%;
    text-align: center;
  }
  .main__dropdown-content {
    display: none;
  }

  .reviews__cards {
    padding: 2rem !important;
  }

  .articles__cards__text {
    top: 17rem;
  }

  .main__grid-collection {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .main__grid-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main__grid-banner {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media (max-width: 520px) {
  .header__bottom {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__bottom > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main__navigation a {
    font-size: 1.1em;
  }

  .main__line-bg {
    height: 5.7rem;
  }

  .main__banner {
    max-width: 29rem;
    padding: 1rem 1rem;
  }

  .main__banner-cards {
    display: none;
  }

  .main__banner-text p:first-child {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }

  .main__banner-text p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    line-height: 1.5rem;
  }

  .main__banner-text h2 {
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-bottom: 0.3rem;
  }

  .main__grid-collection {
    text-align: center;
  }

  .main__dropdown {
    height: 4rem;
  }

  .btn {
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
  }

  .main__collection {
    margin-bottom: 4rem;
  }

  .articles__cards__text {
    top: 3rem;
  }
  .articles__cards__text p:nth-child(2) {
    font-size: 0.9rem;
  }
  .articles__cards__text p:nth-child(3) {
    font-size: 2rem;
  }

  .articles__cards__text-tag {
    padding: 0.5rem 0.3rem;
  }

  .footer__bottom a {
    display: block;
  }
  .footer__bottom a:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
.footer {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.01em;
}
.footer__top {
  margin-bottom: 10rem;
}
.footer__top__adress {
  display: inline-block;
}
.footer__top__adress a {
  margin-bottom: 1.8rem;
}
.footer__top__adress p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin: 1.8rem 0;
}
.footer__top__adress-network img:not(:last-child) {
  margin-right: 3.5rem;
}
.footer__top__adress-network img {
  cursor: pointer;
}
.footer__top__adress-network img:hover {
  -webkit-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
          filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.footer__top__help, .footer__top__store, .footer__top__supports {
  display: inline-block;
}
.footer__top__help a, .footer__top__store a, .footer__top__supports a {
  color: #555;
}
.footer__top__help a:hover, .footer__top__store a:hover, .footer__top__supports a:hover {
  color: #000;
}
.footer__bottom {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom p {
  display: inline-block;
}
.footer__bottom a {
  color: #555;
}
.footer__bottom a:hover {
  color: #000;
}
.footer__bottom a:not(:last-child) {
  margin-right: 5rem;
}