@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    text-decoration: none;
    transition: all .1s ease;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    color: $color-gray;
    background: $color-white;
    box-sizing: border-box;
    
}

ul li a {
    text-decoration: none;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 3rem;
}




  

 