// logo
.logo__icon {
    & img {
        vertical-align: sub;
        display: inline-block;
        width: 2.5rem;
        margin-right: 0.5rem;
    }

    & h2,
    h1 {
        display: inline-block;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: $color-gray;
        transition: all .2s ease;

        &:hover {
            color: $color-black;
        }
    }


}

// h2 all section
.section-heading {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: $color-gray;
    margin-bottom: 7.5rem;
}

// offer

.offer {
    position: absolute;
    top: -1rem;
    right: 0;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-white;

    &::before {
        content: '';
        background-color: $color-lighBlue;
        display: inline-block;
        width: 6.4rem;
        height: 2.3rem;
        margin-bottom: -2.2rem;
        border-bottom-left-radius: .5rem;
    }
}

// discount
.discount {
    position: absolute;
    top: -1rem;
    left: 0;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-white;
    text-align: center;

    &::before {
        content: '';
        background-color: $color-lighPink;
        display: inline-block;
        width: 4.4rem;
        height: 2.1rem;
        margin-bottom: -2.2rem;
        border-bottom-right-radius: .5rem;
    }
}

// hide

.hide {
    display: none;
}

// dot

.carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    list-style: none;

}

.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 3rem;
    height: 0.6rem;
    margin: 0 .3rem;
    cursor: pointer;
    background: $color-green;
    background-clip: padding-box;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

// Анимация

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}