// body grid
.body__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}



// main__banner
.main__grid {
    display: grid;
    grid-template-columns: 25.8rem 3fr;
    grid-template-rows: 6.7rem 1fr;
    grid-template-areas:
        "collection  grid-nav"
        "collection grid-banner";
    grid-gap: 1.2rem;
    margin-bottom: 7rem;

}

.main__grid-collection {
    grid-area: collection;
}

.main__grid-nav {
    grid-area: grid-nav;
}

.main__grid-banner {
    grid-area: grid-banner;
}


// section main__delivery
.main__delivery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 3rem;

}

// section main__collection
.main__collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    justify-content: space-between;
    grid-template-areas:
        "block-one block-two"
        "block-one block-three";

    &__block-one {
        grid-area: block-one;
    }

    &__block-two {
        grid-area: block-two;
    }

    &__block-three {
        grid-area: block-three;
    }
}

// section main__trending
.products__header__categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 3rem;
}

// section special-offer
.special-offer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: auto;
    grid-gap: 2rem;
    justify-content: space-between;
}

// products__cards
.products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24.5rem, 4fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 2rem;
    margin-bottom: 10rem;
}

// articles crads

.articles__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 50rem));
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-items: center;
}