// Модальное окно регистрации и входа;
.popup-fade {
    display: none;

    &:before {
        content: '';
        background: $color-black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 777;
    }
}

.modal {
    background: linear-gradient(90deg, rgba(62, 125, 29, 1) 0%, rgba(92, 212, 28, 1) 100%);
    width: 30rem;
    height: 45rem;
    text-align: center;
    border-radius: .7rem;
    padding-top: 6rem;
    box-shadow: .5rem 2rem 5rem $color-black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    overflow: hidden;
    z-index: 777;


    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
    }

    & label {
        font-size: 4rem;
        line-height: 4.7rem;
        font-weight: bold;
        color: $color-white;
        cursor: pointer;
        transition: all .5s ease-in-out;
        display: flex;
        justify-content: center;
    }

    & input {
        display: block;
        border: none;
        outline: none;
        margin: 0 auto;
        padding-left: 0.7rem;
        width: 20rem;
        height: 3rem;
        border-radius: .5rem;
        margin-top: 3rem;
    }

    //верхняя часть


    #checked {
        display: none;
    }

    .modal__btn {
        font-size: 1.5rem;
        width: 19rem;
        height: 3.2rem;
        border-radius: .5rem;
        border: none;
        margin-top: 4rem;
        background: $color-lighPink;
        filter: grayscale(.75);
        color: $color-white;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px .5rem 1.5rem;

        &:hover {
            filter: none;
            transform: translateY(-.2rem);
            box-shadow: rgba(0, 0, 0, 0.35) .1rem .6rem 1.8rem;
        }

        &:active {
            transform: translateY(-.1rem);
            box-shadow: rgba(0, 0, 0, 0.35) 0 .5rem 1.5rem;
            filter: none;
        }
    }

    //нижняя часть
    .modal__login {
        height: 42rem;
        border-radius: 60% / 10%;
        left: 0;
        background: white;
        transform: translateY(8rem);
        transition: all .5s ease-in-out;

        & label {
            color: black;
            cursor: pointer;
            font-weight: bold;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            padding-top: 1rem;
        }

        & input {
            background: $color-lighGray;
        }

    }

    #checked:checked~.modal__login {
        transform: translateY(-24rem);
    }

    #checked:checked~.modal__login label {
        transform: scale(1.8);
    }

    #checked:checked~.modal__signup label {
        transform: scale(.5);
    }

    .message {
        position: absolute;
        color: $color-white;
        font-size: 1rem;
        margin: 3rem 0 0 50%;
        transform: translateX(-50%);
    }

    .modal__thanks {
        position: absolute;
        color: $color-white;
        font-size: 1.5rem;
        margin: 3rem 0 0 50%;
        transform: translateX(-50%);
    }

}