.products {
    &__header {
        text-align: center;
        margin-bottom: 7rem;

        & a {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 3rem;
            color: $color-transparent-grey;

        }

    }

    .active-green {
        color: $color-green;
    }

    // cards
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24.5rem, 4fr));
        grid-template-rows: auto;
        justify-items: center;
        grid-gap: 4rem;
        margin-bottom: 10rem;


        &__body {
            width: 27rem;
            height: 38.5rem;
            transition: all .2s ease;

            &:hover {
                transform: translateY(-.3rem);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            }

            &-img {
                margin-bottom: 1.5rem;
                position: relative;

                &:hover .hover-feature {
                    opacity: 1;
                }
            }

            &-text {
                position: relative;

                & p {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                }

                & p:first-child {
                    font-size: 1.4rem;
                    line-height: 130%;
                    letter-spacing: 0.008em;
                    text-transform: uppercase;
                    color: $color-transparent-grey;
                    margin-bottom: 0.8rem;
                }

                & p:nth-child(2) {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 120%;
                    letter-spacing: 0.005em;
                    color: $color-gray;
                    margin-bottom: 0.8rem;
                }

                & p:nth-child(3),
                p:nth-child(4) {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 120%;
                    text-align: center;
                    letter-spacing: 0.005em;
                    color: $color-green;
                    display: inline-block;
                }

                & p:nth-child(4) {
                    text-decoration-line: line-through;
                    color: $color-transparent-grey;
                    margin-left: .7rem;
                }
            }
        }

    }

    .sticket-left {
        position: absolute;
        z-index: 7;

    }

    .ratings {
        position: absolute;
        z-index: 7;
        right: 0;
        bottom: .7rem;

    }

    .hover-feature {
        transition: all .7s ease-in-out;
        opacity: 0;

        & img {
            position: absolute;
            right: -2.5rem;
            cursor: pointer;

            &:nth-child(1) {
                top: 3rem;
            }

            &:nth-child(2) {
                top: 9rem;
            }

            &:nth-child(3) {
                top: 15rem;
            }

            &:nth-child(4) {
                top: 21rem;
            }

            &:hover {
                transform: translateY(-.2rem);
            }
        }
    }

    .switch {
        text-align: center;

        & img {
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }

        margin-bottom: 10rem;
    }

}