.special-offer {
    text-align: center;
    margin-bottom: 12rem;

    &__bg-one {
        background: url("/img/main/special_offer/living_room.jpg") right no-repeat;
        background-size: cover;
    }

    &__bg-two {
        background: url("/img/main/special_offer/modern_chair.jpg") right no-repeat;
        background-size: cover;
    }

    &__cards {
        height: 22rem;
        padding: 2.8rem 1.4rem;
        transition: all .2s ease;
        position: relative;

        &:hover {
            transform: translateY(-.3rem);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        }

    }

    &__text {
        width: 25rem;
        font-family: 'Mulish';
        font-style: normal;
        z-index: 7;

        & h3 {
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 2.8rem;
            color: #555555;
            margin-bottom: 1.1rem;
        }

        & p:nth-child(2) {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: $color-transparent-grey;
            margin-bottom: 2.3rem;
        }

        & p:nth-child(3),
        p:nth-child(4) {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.005em;
            color: $color-green;
            display: inline-block;
        }

        & p:nth-child(4) {
            text-decoration-line: line-through;
            color: $color-transparent-grey;
            margin: 0 1rem 3.1rem .7rem;
        }
    }

    &__time {

        &-item {
            display: inline-block;

            & P {
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 120%;
                color: $color-white;
            }

            & p:last-child {
                font-weight: 400;
                font-size: .6rem;
                text-transform: uppercase;
                color: $color-white;
            }

            &::before {
                content: '';
                background-color: $color-green;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: -3.8rem;

            }

            &:not(:last-child) {
                margin-right: 1.2rem;
            }
        }


    }
}